.navbar {
  width: 100%;
  background-color: rgb(194, 210, 211);
}

.navbar-content {
  display: flex;
  max-width: 1600px;
  padding: 10px 0;
  margin: auto;
}

.navbar-content > * {
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.browse-link {
  margin: auto;
  margin-right: 1rem;
}

.home-logo {
  margin-left: 1rem;
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .home-logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .contact-link {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .browse-link,
  .cart-link {
    display: none;
  }
  .navbar-content > * {
    margin: auto;
  }
}
