/* ProductCard.css */

.addToCartButton {
  background-color: #007bff; /* Normal button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:disabled {
  cursor: not-allowed; /* Ensures a non-clickable appearance */
}

.addedToCart {
  background-color: green; /* Green background for "Added to Cart!" state */
  color: #fff;
}

.button-counters {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.input-counter {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  font-size: 1rem;
  padding: 1px 1px 1px 15px;
}

.test {
  background-color: #811329;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-name {
  text-align: center;
}

.product-card > * {
  margin: 0;
}
